{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{contact.0}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="id_cliente" placeholder="Id Cliente">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="apellido" placeholder="Apellido">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="estado" placeholder="Estado">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="localización" placeholder="Localización">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="tipo_cliente" placeholder="Tipo Cliente">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="fecha" placeholder="Fecha de Nacimiento">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
