{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-5">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('add_contact')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="apellido" placeholder="Apellido">
          </div>
          <div class="form-group">
            <label for="sel1" class="form-control">Estado:</label>
            <select class="form-control" name="estado" id="sel1">
              <option value="A">Activo</option>
              <option value="I">Inactivo</option>
            </select>
          </div> 
          <div class="form-group">
            <input type="text" class="form-control" name="localizacion" placeholder="Localización">
          </div>
          <div class="form-group">
            <label for="sel2" class="form-control">Estado:</label>
            <select class="form-control" name="tipo_cliente" id="sel2">
              <option value="C">Cliente</option>
              <option value="P">Prospecto</option>
              <option value="PO">Proveedor</option>
            </select>
          </div> 
          <div class="form-group">
            <input type="date" class="form-control" name="fecha" placeholder="Fecha de Nacimiento">
          </div>
          <button class="btn btn-primary btn-block">
            Save 
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>ID</td>
            <td>nombre</td>
            <td>apellido</td>
            <td>estado</td>
            <td>localización</td>
            <td>tipo cliente</td>
            <td>fecha</td>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
          <tr>
            <td>{{contact.0}}</td>
            <td>{{contact.1}}</td>
            <td>{{contact.2}}</td>
            <td>{{contact.3}}</td>
            <td>{{contact.4}}</td>
            <td>{{contact.5}}</td>
            <td>{{contact.6}}</td>
            <td>
              <a href="/edit/{{contact.0}}" class="btn btn-secondary">edit</a>
              <a href="/delete/{{contact.0}}" class="btn btn-danger btn-delete">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
